* @grafana/grafana-app-platform-squad

/.cog/resources/playlistv0alpha1/ @grafana/grafana-app-platform-squad
/.cog/resources/preferencesv1alpha1/ @grafana/grafana-app-platform-squad
/.cog/resources/starsv1alpha1/ @grafana/grafana-app-platform-squad
