# yaml-language-server: $schema=https://raw.githubusercontent.com/grafana/cog/main/schemas/unit.json

inputs:
  - jsonschema:
      url: 'https://raw.githubusercontent.com/grafana/grafana/main/pkg/expr/query.request.schema.json'
      package: expr
      metadata:
        kind: composable
        variant: dataquery
        identifier: __expr__
      transformations:
        - '%__config_dir%/schema.transforms.yaml'
