/build
.gradle
/examples/java/*/build/
/examples/typescript/*/.yarn/
/examples/typescript/*/.yarnrc.yml

/kind-registry
/preview
/workspace
/vendor
/typescript/node_modules
/typescript/.yarn/
/typescript/.yarnrc.yml
/typescript/dist/
/java/build/

.idea
