/build
.gradle
/examples/java/*/build/
/examples/typescript/*/.yarn/
/examples/typescript/*/.yarnrc.yml
/devbox.d

/kind-registry
/workspace
/vendor
/scripts/*/vendor
/typescript/node_modules
/typescript/.yarn/
/typescript/.yarnrc.yml
/typescript/dist/
/java/build/

.idea
__pycache__
