{{- define "pre_assignment_QueryGroup_targets" }}
	foreach ($queriesResources as $query) {
		if ($query->spec->refId === "") {
			$query->spec->refId = "query-" . $this->nextQueryId;
			$this->nextQueryId += 1;
		}
	}
{{- end }}
