{{- define "dynamic_files" -}}
{{- $isPanelSchema := .Schema.IsComposableVariant "panelcfg" -}}
{{ if $isPanelSchema }}
    {{- $filename := print "src/" (.Schema.Package | formatPackageName) "/VariantConfig.php" -}}
    {{- $content := include "schema_panelcfg_variantConfig_file" . -}}
    {{- $_ := declareFile $filename $content -}}
{{ end }}

{{- $isDataquerySchema := and (.Schema.IsComposableVariant "dataquery") (ne .Schema.EntryPoint "") -}}
{{ if $isDataquerySchema }}
    {{- $filename := print "src/" (.Schema.Package | formatPackageName) "/VariantConfig.php" -}}
    {{- $content := include "schema_dataquery_variantConfig_file" . -}}
    {{- $_ := declareFile $filename $content -}}
{{ end }}
{{- end }}

{{ define "schema_dataquery_variantConfig_file" -}}
{{- $convert := "null" -}}
{{- $convertv2 := "null" -}}
{{- $fromArray := "null" -}}
{{- $entryPointNotFound := not (schemaHasObject .Schema .Schema.EntryPoint) -}}
{{- $hasBeta := objectExists "dashboardv2beta1" "DataQueryKind" -}}
{{- $hasV2 := objectExists "dashboardv2" "DataQueryKind" -}}

{{- if and ($entryPointNotFound) (resolvesToDisjunction .Schema.EntryPointType)  -}}
{{- $fromArray = unmarshalDisjunctionFunc .Schema.EntryPointType -}}
{{- else if not $entryPointNotFound -}}
{{- $fromArray = print "[" (.Schema.EntryPoint | formatObjectName) "::class, 'fromArray']" -}}
{{-  end -}}

{{- if .Config.Converters -}}
    {{- $convert = print "[" (.Schema.EntryPoint | formatObjectName) "Converter::class, 'convert']" -}}
    {{- if .Schema.EntryPointType|resolvesToDisjunction -}}
    {{- $convert = convertDisjunctionFunc .Schema.EntryPointType -}}
    {{- end -}}

    {{- if and $hasBeta $hasV2 -}}
    {{- $convertv2 = "[self::class, 'convertV2']" -}}
    {{- else if $hasBeta -}}
    {{- $convertv2 = "[QueryConverter::class, 'convert']" -}}
    {{- else if $hasV2 -}}
    {{- $convertv2 = "[QueryV2Converter::class, 'convert']" -}}
    {{- end -}}

{{- end -}}
<?php

namespace {{ .Schema.Package | formatPackageName | fullNamespace }};

final class VariantConfig
{
    public static function get(): {{ "Cog\\DataqueryConfig" | fullNamespaceRef }}
    {
        return new {{ "Cog\\DataqueryConfig" | fullNamespaceRef }}(
            identifier: '{{ .Schema.Metadata.Identifier }}',
            fromArray: {{ $fromArray }},
            convert: {{ $convert }},
            {{- if or $hasBeta $hasV2 }}
            convertv2: {{ $convertv2 }},
            {{- end }}
        );
    }

    {{- if and $hasBeta $hasV2 }}

    public static function convertV2({{ fullNamespaceRef "Dashboardv2\\DataQueryKind" }}|{{ fullNamespaceRef "Dashboardv2beta1\\DataQueryKind" }} $input): string
    {
        if ($input instanceof {{ fullNamespaceRef "Dashboardv2\\DataQueryKind" }}) {
            return QueryV2Converter::convert($input);
        }
        return QueryConverter::convert($input);
    }
    {{- end }}

}
{{ end }}

{{ define "schema_panelcfg_variantConfig_file" }}
{{- $options := "null" -}}
{{- $fieldConfig := "null" -}}
{{- $convert := "null" -}}

{{- if .Schema.HasObject "Options" -}}
{{- $options = "[Options::class, 'fromArray']" -}}
{{- end -}}

{{- if .Schema.HasObject "FieldConfig" -}}
{{- $fieldConfig = "[FieldConfig::class, 'fromArray']" -}}
{{- end -}}

{{- if .Config.Converters -}}
{{- if objectExists "dashboardv2beta1" "VizConfigKind" }}
{{- $dashboardv2beta1 := fullNamespaceRef "dashboardv2beta1" }}
{{- $convert = "[self::class, 'convert']" -}}
{{- else }}
{{- $convert = "[PanelConverter::class, 'convert']" -}}
{{- end }}
{{- end -}}
<?php

namespace {{ .Schema.Package | formatPackageName | fullNamespace }};

final class VariantConfig
{
    public static function get(): {{ "Cog\\PanelcfgConfig" | fullNamespaceRef }}
    {
        return new {{ "Cog\\PanelcfgConfig" | fullNamespaceRef }}(
            identifier: '{{ .Schema.Metadata.Identifier }}',
            optionsFromArray: {{ $options }},
            fieldConfigFromArray: {{ $fieldConfig }},
            convert: {{ $convert }},
        );
    }
    
    public static function convert(mixed $input): string
    {
        if ($input instanceof {{ fullNamespaceRef "Dashboard\\Panel" }}) {
            return PanelConverter::convert($input);
        }
    
        {{- if objectExists "dashboardv2beta1" "VizConfigKind" }}
        if ($input instanceof {{ fullNamespaceRef "Dashboardv2beta1\\VizConfigKind" }}) {
            return VisualizationConverter::convert($input);
        }
        {{- end }}
        {{- if objectExists "dashboardv2" "VizConfigKind" }}
        if ($input instanceof {{ fullNamespaceRef "Dashboardv2\\VizConfigKind" }}) {
            return VisualizationV2Converter::convert($input);
        }
        {{- end }}
    
        return '/* could not convert panel */';
    }
}
{{ end }}
