inputs:
  - cue:
      entrypoint: '%__config_dir%/'
      metadata:
        kind: composable
        variant: dataquery
        identifier: grafana-bigquery-datasource
      cue_imports:
        - '%kind_registry_path%/grafana/%kind_registry_version%/common:github.com/grafana/grafana/packages/grafana-schema/src/common'
